/* ****************************************************/
/* This semester we will be using my variation of    */
/* Josh Comeau's CSS Reset instead of normalize      */
/* Read more at                                      */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*****************************************************/
/* Always add your CSS below the reset CSS           */
/*****************************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-font: #333;
  --color-primary: #205373; /* dark blue */
  --color-secondary: #517ea6; /* light blue */
  --color-accent: #a6653f; /* orange brown */
  --color-accent-light: #f2bc8d; /* light tan */
}

* {
  /* margin: 0; */
  /* this an experimental line-height; if it breaks, add line-height: 1.5 to body */
  line-height: calc(1em + 0.5rem);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Hind", "Raleway", "sans-serif";
  color: var(--color-font);
  display: flex;
  flex-direction: column;
}

main {
  margin-left: 1vw;
  margin-right: 1vw;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* until you get a feel for overflow, I'll keep these next two commented out */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* temp CSS for HTML only assignments */
picture img {
  width: 100%;
}

/* svg {
  width: 200px;
} */

/* temp fix to size about img */
img[srcset] {
  width: 50%;
  height: auto;
}

/* temporary fix to size svg images */

/************ add your CSS here **************** */

h2,
h3,
h4 {
  font-family: "Hind", "Raleway", "sans-serif";
  color: var(--color-font);
}

a {
  text-decoration: none;
  color: #205373;
}

a[href]:hover {
  color: var(--color-accent);
}

/* a[href]:visited {
  color: #f2bc8d;
} */

a.button {
  padding: 2vw;
  border-radius: 5px;
  display: inline-block;
  margin-left: 20px;
  color: #a6653f;
  border: 2px solid rgb(99, 147, 229);
}
a.button:hover {
  transition: background-color 300ms ease, color 300ms ease;
  background-color: #f2bc8d;
  border: 2px solid #f2bc8d;
  cursor: pointer;
}

header {
  background-color: #000000;
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 5px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

nav label img {
  width: 30px;
  height: auto;
  z-index: 100;
  position: relative;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg)
    brightness(118%) contrast(119%);
}
.submenu ul {
  text-decoration: none;
  list-style: none;
  text-align: center;
  list-style-position: outside;
  list-style-type: none;
}

input,
ul.submenu {
  display: none;
}

/*position the label*/
label {
  position: relative;
  display: block;
  cursor: pointer;
}

/*show the submenu when input is checked*/
input:checked ~ ul.submenu {
  display: block;
}

.nav a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.footer {
  background-color: #5d8eac;
  margin-bottom: 0;
  padding: 40px;
}

p.footer {
  margin: 0;
}

main {
  max-width: fit-content;
}

main h1 {
  margin-top: 5vw;
}

main h2 {
  margin-top: 5vw;
}

footer {
  margin-top: 5vw;
}

.herotitle {
  inset: 0;
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem;
}
.herotitle h1 {
  font-size: 300%;
  font-family: "Hind", "Raleway", "sans-serif";
  margin-bottom: 2vw;
}

.hero {
  position: relative;
  /* height: 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  filter: brightness(0.8);
}

.card:hover {
  transition: box-shadow 300ms ease;
  transform: scale(1.05);
}

.card:hover p {
  color: transparent;
  background-color: rgb(0 0 0 / 0%);
}
.card h2 {
  margin: 0;
  padding-top: 1vw;
  margin-left: 0.5vw;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.hero h1 {
  font-size: clamp(1.5rem, 5vw + 1rem, 5rem);
  font-family: "Playfair Display SC", serif;
}

.hero p {
  font-size: clamp(0.5rem, 0.5vw + 0.4rem, 4rem);
  font-family: "Playfair Display SC", serif;
}

.panel {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  margin: 2vw;
}
.image-wrapper {
  order: -1;
}

.panel .text-wrapper .button {
  background-color: #5ca1cc;
}

/*** Cards ****/

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5vw;
  min-width: 0;
  gap: 20px;
}

.card p {
  position: absolute;
  inset: 0;
  margin: 0;
  font-size: 50px;
  color: white;
  line-height: 1;
  padding: 30% 1rem 1rem;
  background-color: rgb(0 0 0 / 60%);
  transition: background-color 400ms ease-in-out;
}

.card {
  /* margin: 1vw; */
  /* outline: 2px solid rgb(132, 130, 130); */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 3px;
  position: relative;
  color: #2c2525;
  /* min-width: 0; */
}

/* 












 */

@media (min-width: 401px) and (max-width: 800px) {
  input {
    display: none;
  }

  nav ul li {
    list-style: none;
    padding: 0 1vw 0 1vw;
  }

  label img {
    display: none;
  }
  ul.submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .panel {
    flex-direction: row;
  }
  .image-wrapper {
    min-width: 200px;
    width: 400px;
  }

  .left {
    order: 2;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    min-width: 0;
    flex-wrap: wrap;
    gap: 20px;
  }

  .card p {
    position: absolute;
    inset: 0;
    margin: 0;
    line-height: 1;
    font-size: 40px;
    padding: 30% 1rem 1rem;
    background-color: rgb(0 0 0 / 60%);
    transition: background-color 400ms ease-in-out;
  }

  .card {
    /* margin: 1vw; */
    /* outline: 2px solid rgb(132, 130, 130); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    border-radius: 3px;
    position: relative;
    color: #2c2525;
    max-width: 150px;
    min-width: 150px;
  }
}

@media (min-width: 801px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 5vh;
    min-width: 0;
    gap: 20px;
  }

  input {
    display: none;
  }

  nav ul li {
    list-style: none;
    padding: 0 1vw 0 1vw;
  }

  label img {
    display: none;
  }
  ul.submenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card p {
    position: absolute;
    inset: 0;
    margin: 0;
    line-height: 1;
    padding: 30% 1rem 1rem;
    background-color: rgb(0 0 0 / 60%);
    transition: background-color 400ms ease-in-out;
  }

  .card {
    /* margin: 1vw; */
    /* outline: 2px solid rgb(132, 130, 130); */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 3px;
    position: relative;
    color: #2c2525;
    /* min-width: 0; */
  }
}
